.vscode/
.vs/
.DS_Store
.cache/
*.save
.clangd
.venv

*.json
*.ini
*.csv
*.svg

obj/
build/
bin/
pcm.cache/
modules/
GlobalIl.*/
*.vcxproj.user
*.spv
*.zip
*.7z
assets/shaders/Shadertoy/*

# Added by cargo

/target
